<!DOCTYPE html>
<html>
  <head>
    <title>Math is fun!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/toastr.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/toastr.js"></script>
    <script src="/math.js"></script>
  </head>
  <body>
    <div id ="title"></div>
    <input type = "text" class = "center" id = "answer" autocomplete="off"/>
    <input type = "button" id = "submit" class = "center" value = "submit!"/>
    <div id = "score"></div>
  </body>
</html>