body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/tree_bark.png');
}

a {
  color: #00B7FF;
}

input{
	    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#title{
	margin-top: 18%;
	font-size: 40px;
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#submit{
	display: none;
}

#score{
	text-align:center;
	font-size: 25px;
}